<head>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }

        tr {
        border-bottom: 1px solid #818181;
        }

        tr:hover {background-color: #9bbea0;}
    </style>
</head>

<table>
    <tr>
        <th>Player</th>
        <th>Record</th>
        <th>Points</th>
    </tr>
    
    {{ range $playerID, $player := .Site.Data.season.season_players }}
    <tr>
        <td>
            {{ with index $.Site.Data.players.players $playerID }}
                {{ .discord_nickname }}
            {{ else }}
                {{ $playerID }}
            {{ end }}
        </td>

        <td>
            {{ $player.standings.wins }}-{{ $player.standings.losses }}
        </td>

        <td>
            {{ $player.standings.points }}
        </td>
    </tr>
    {{ end }}
</table>