<head>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }

        tr {
        border-bottom: 1px solid #818181;
        }

        tr:hover {background-color: #9bbea0;}
    </style>
</head>

<table class="sortable">

    <thead>
        <tr data-sort-method="none">
            <th>Player</th>
            <th>Points</th>
            <th>Record</th>
        </tr>
    </thead>
    
    <tbody>
        {{ range .Site.Data.players.S06.battlers }}
        <tr>
            <th>{{.discord_nickname}}</th>
            <th>{{.points}}</th>
            <th>{{.league_record}}</th>
        </tr>
        {{end}}
    </tbody>
</table>